header {
width: 80%;
margin: 0 auto;
background-color: lightblue;}
h1 {
text-align: center;
color: rgb(214, 43, 83);}
h2 {
text-align: center; 
}
ul { center;
color: black}
form{ with:100%;
margin: 0 auto;
background-color:lightblue;}



    
    

